<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>Subscribers</title>
<link th:replace="subscriber/fragments/headLink">
<link rel="stylesheet" type="text/css" href="../../stylesheets/subStyle.css">
</head>
<body>
	<div class="container-fluid">
	<h3>Below are the First and Last Name of Each Subscriber</h3>
	<br>
	<table class="table table-bordered table-sm" style="width:60%">
		<thead>
		<tr>
		<th scope="col">First Name</th>
		<th scope="col">Last Name</th>
		</tr>
		</thead>		
		<tbody th:each="subscriber:${subscribers}">		
    	<td th:text="${subscriber.firstName}"></td>
    	<td th:text="${subscriber.lastName}"></td>
    	</tbody>    	    
    </table>
    <a href="/console">See Details</a><br>
    <a href="/">Get Back to Subscription Sign-Up</a> 	
    </div>
    <div>
    		<footer class="container-fluid" style="text-align: center; position: absolute; bottom: 0;">
    		<p style="color:#24166A;">© FH Corp 2021<p>
    		</footer>
	</div>
	<script th:replace="subscriber/fragments/scripts"></script>
</body>
</html>